@use 'sass:map';
@use 'm3-theme' as m3;
@import 'mixins';

$grey-saturation: 5%;

$neutral-palette: map.get(m3.$palettes, neutral-variant);

$grey-palette: (
   50: map.get($neutral-palette, 100),
  100: map.get($neutral-palette, 98),
  200: map.get($neutral-palette, 95),
  300: map.get($neutral-palette, 90),
  400: map.get($neutral-palette, 70),
  500: map.get($neutral-palette, 60),
  600: map.get($neutral-palette, 50),
  700: map.get($neutral-palette, 40),
  800: map.get($neutral-palette, 30),
  900: map.get($neutral-palette, 10),
);

$background-light: (
  status-bar:               map.get($grey-palette, 300),
  app-bar:                  map.get($grey-palette, 100),
  background:               map.get($grey-palette, 50),
  hover:                    rgba(map.get($grey-palette, 900), 0.04),
  card:                     map.get($grey-palette, 50),
  dialog:                   map.get($grey-palette, 50),
  disabled-button:          rgba(map.get($grey-palette, 900), 0.12),
  raised-button:            map.get($grey-palette, 50),
  focused-button:           rgba(map.get($grey-palette, 900), 0.12),
  selected-button:          map.get($grey-palette, 300),
  selected-disabled-button: map.get($grey-palette, 400),
  disabled-button-toggle:   map.get($grey-palette, 200),
  unselected-chip:          map.get($grey-palette, 300),
  disabled-list-option:     map.get($grey-palette, 200),
  tooltip:                  map.get($grey-palette, 700),
);

$background-dark: (
  status-bar:               map.get($grey-palette, 900),
  app-bar:                  map.get($grey-palette, 900),
  background:               map.get($grey-palette, 900),
  hover:                    rgba(map.get($grey-palette, 50), 0.04),
  card:                     map.get($grey-palette, 800),
  dialog:                   map.get($grey-palette, 800),
  disabled-button:          rgba(map.get($grey-palette, 50), 0.12),
  raised-button:            map.get($grey-palette, 800),
  focused-button:           rgba(map.get($grey-palette, 50), 0.12),
  selected-button:          map.get($grey-palette, 900),
  selected-disabled-button: map.get($grey-palette, 800),
  disabled-button-toggle:   map.get($grey-palette, 900),
  unselected-chip:          map.get($grey-palette, 700),
  disabled-list-option:     rgba(map.get($grey-palette, 50), 0.12),
  tooltip:                  map.get($grey-palette, 700),
);

$foreground-light: (
  base:                     map.get($grey-palette, 900),
  divider:                  rgba(map.get($grey-palette, 900), 0.12),
  dividers:                 rgba(map.get($grey-palette, 900), 0.12),
  disabled:                 rgba(map.get($grey-palette, 900), 0.38),
  disabled-button:          rgba(map.get($grey-palette, 900), 0.26),
  disabled-text:            rgba(map.get($grey-palette, 900), 0.38),
  elevation:                rgba(map.get($grey-palette, 900), 0.15),
  hint-text:                rgba(map.get($grey-palette, 900), 0.38),
  secondary-text:           rgba(map.get($grey-palette, 900), 0.54),
  icon:                     rgba(map.get($grey-palette, 900), 0.54),
  icons:                    rgba(map.get($grey-palette, 900), 0.54),
  text:                     rgba(map.get($grey-palette, 900), 0.87),
  slider-min:               rgba(map.get($grey-palette, 900), 0.87),
  slider-off:               rgba(map.get($grey-palette, 900), 0.26),
  slider-off-active:        rgba(map.get($grey-palette, 900), 0.38),
);

$foreground-dark: (
  base:                     map.get($grey-palette, 50),
  divider:                  rgba(map.get($grey-palette, 50), 0.12),
  dividers:                 rgba(map.get($grey-palette, 50), 0.12),
  disabled:                 rgba(map.get($grey-palette, 50), 0.5),
  disabled-button:          rgba(map.get($grey-palette, 50), 0.3),
  disabled-text:            rgba(map.get($grey-palette, 50), 0.5),
  elevation:                rgba(map.get($grey-palette, 900), 0.15),
  hint-text:                rgba(map.get($grey-palette, 50), 0.5),
  secondary-text:           rgba(map.get($grey-palette, 50), 0.7),
  icon:                     map.get($grey-palette, 50),
  icons:                    map.get($grey-palette, 50),
  text:                     map.get($grey-palette, 50),
  slider-min:               map.get($grey-palette, 50),
  slider-off:               rgba(map.get($grey-palette, 50), 0.3),
  slider-off-active:        rgba(map.get($grey-palette, 50), 0.3),
);
