$vis-01-10: hsla(284deg, 100%, 10%, 100%);
$vis-01-20: hsla(284deg, 100%, 20%, 100%);
$vis-01-30: hsla(284deg, 100%, 30%, 100%);
$vis-01-40: hsla(284deg, 100%, 40%, 100%);
$vis-01-50: hsla(284deg, 100%, 50%, 100%);
$vis-01-60: hsla(284deg, 100%, 60%, 100%);
$vis-01-70: hsla(284deg, 100%, 70%, 100%);
$vis-01-80: hsla(284deg, 100%, 80%, 100%);
$vis-01-90: hsla(284deg, 100%, 90%, 100%);

$vis-02-10: hsla(259deg, 100%, 10%, 100%);
$vis-02-20: hsla(259deg, 100%, 20%, 100%);
$vis-02-30: hsla(259deg, 100%, 30%, 100%);
$vis-02-40: hsla(259deg, 100%, 40%, 100%);
$vis-02-50: hsla(259deg, 100%, 50%, 100%);
$vis-02-60: hsla(259deg, 100%, 60%, 100%);
$vis-02-70: hsla(259deg, 100%, 70%, 100%);
$vis-02-80: hsla(259deg, 100%, 80%, 100%);
$vis-02-90: hsla(259deg, 100%, 90%, 100%);

$vis-03-10: hsla(212deg, 100%, 10%, 100%);
$vis-03-20: hsla(212deg, 100%, 20%, 100%);
$vis-03-30: hsla(212deg, 100%, 30%, 100%);
$vis-03-40: hsla(212deg, 100%, 40%, 100%);
$vis-03-50: hsla(212deg, 100%, 50%, 100%);
$vis-03-60: hsla(212deg, 100%, 60%, 100%);
$vis-03-70: hsla(212deg, 100%, 70%, 100%);
$vis-03-80: hsla(212deg, 100%, 80%, 100%);
$vis-03-90: hsla(212deg, 100%, 90%, 100%);

$vis-04-10: hsla(184deg, 100%, 10%, 100%);
$vis-04-20: hsla(184deg, 100%, 20%, 100%);
$vis-04-30: hsla(184deg, 100%, 30%, 100%);
$vis-04-40: hsla(184deg, 100%, 40%, 100%);
$vis-04-50: hsla(184deg, 100%, 50%, 100%);
$vis-04-60: hsla(184deg, 100%, 60%, 100%);
$vis-04-70: hsla(184deg, 100%, 70%, 100%);
$vis-04-80: hsla(184deg, 100%, 80%, 100%);
$vis-04-90: hsla(184deg, 100%, 90%, 100%);

$vis-05-10: hsla(155deg, 100%, 10%, 100%);
$vis-05-20: hsla(155deg, 100%, 20%, 100%);
$vis-05-30: hsla(155deg, 100%, 30%, 100%);
$vis-05-40: hsla(155deg, 100%, 40%, 100%);
$vis-05-50: hsla(155deg, 100%, 50%, 100%);
$vis-05-60: hsla(155deg, 100%, 60%, 100%);
$vis-05-70: hsla(155deg, 100%, 70%, 100%);
$vis-05-80: hsla(155deg, 100%, 80%, 100%);
$vis-05-90: hsla(155deg, 100%, 90%, 100%);

$vis-06-10: hsla(83deg, 100%, 10%, 100%);
$vis-06-20: hsla(83deg, 100%, 20%, 100%);
$vis-06-30: hsla(83deg, 100%, 30%, 100%);
$vis-06-40: hsla(83deg, 100%, 40%, 100%);
$vis-06-50: hsla(83deg, 100%, 50%, 100%);
$vis-06-60: hsla(83deg, 100%, 60%, 100%);
$vis-06-70: hsla(83deg, 100%, 70%, 100%);
$vis-06-80: hsla(83deg, 100%, 80%, 100%);
$vis-06-90: hsla(83deg, 100%, 90%, 100%);

$vis-07-10: hsla(68deg, 100%, 10%, 100%);
$vis-07-20: hsla(68deg, 100%, 20%, 100%);
$vis-07-30: hsla(68deg, 100%, 30%, 100%);
$vis-07-40: hsla(68deg, 100%, 40%, 100%);
$vis-07-50: hsla(68deg, 100%, 50%, 100%);
$vis-07-60: hsla(68deg, 100%, 60%, 100%);
$vis-07-70: hsla(68deg, 100%, 70%, 100%);
$vis-07-80: hsla(68deg, 100%, 80%, 100%);
$vis-07-90: hsla(68deg, 100%, 90%, 100%);

$vis-08-10: hsla(50deg, 100%, 10%, 100%);
$vis-08-20: hsla(50deg, 100%, 20%, 100%);
$vis-08-30: hsla(50deg, 100%, 30%, 100%);
$vis-08-40: hsla(50deg, 100%, 40%, 100%);
$vis-08-50: hsla(50deg, 100%, 50%, 100%);
$vis-08-60: hsla(50deg, 100%, 60%, 100%);
$vis-08-70: hsla(50deg, 100%, 70%, 100%);
$vis-08-80: hsla(50deg, 100%, 80%, 100%);
$vis-08-90: hsla(50deg, 100%, 90%, 100%);

$vis-09-10: hsla(32deg, 100%, 10%, 100%);
$vis-09-20: hsla(32deg, 100%, 20%, 100%);
$vis-09-30: hsla(32deg, 100%, 30%, 100%);
$vis-09-40: hsla(32deg, 100%, 40%, 100%);
$vis-09-50: hsla(32deg, 100%, 50%, 100%);
$vis-09-60: hsla(32deg, 100%, 60%, 100%);
$vis-09-70: hsla(32deg, 100%, 70%, 100%);
$vis-09-80: hsla(32deg, 100%, 80%, 100%);
$vis-09-90: hsla(32deg, 100%, 90%, 100%);

$vis-10-10: hsla(0deg, 100%, 10%, 100%);
$vis-10-20: hsla(0deg, 100%, 20%, 100%);
$vis-10-30: hsla(0deg, 100%, 30%, 100%);
$vis-10-40: hsla(0deg, 100%, 40%, 100%);
$vis-10-50: hsla(0deg, 100%, 50%, 100%);
$vis-10-60: hsla(0deg, 100%, 60%, 100%);
$vis-10-70: hsla(0deg, 100%, 70%, 100%);
$vis-10-80: hsla(0deg, 100%, 80%, 100%);
$vis-10-90: hsla(0deg, 100%, 90%, 100%);
