@use 'sass:map';
@use '@angular/material' as mat;

@import 'css-reset';
@import 'app-theme';
@import 'fonts';
@import 'icons';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
