@use 'sass:map';
@use '@angular/material' as mat;

@import 'css-reset';
@import 'app-theme';
@import 'fonts';
@import 'icons';
@import 'm3-theme';

@include mat.core();

html {
  @include mat.core-theme($light-theme);
}

@media (prefers-color-scheme: dark) {
  html {
    @include mat.core-theme($dark-theme);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
