@use 'sass:map';
@use 'm3-theme' as m3;
@import 'app-theme';
@import 'css-reset';
@import 'fonts';
@import 'icons';

body {
  cursor: default;
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

a {
  color: map.get($foreground-light, 'base');
}

@media (prefers-color-scheme: dark) {
  a {
    color: map.get($foreground-dark, 'base');
  }
}

* {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(m3.$primary-hue, 53%, 50%);;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

$autofill-transition-speed: calc(60 * 60 * 24s);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  transition: background-color $autofill-transition-speed ease-in-out $autofill-transition-speed !important;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  display: flex;
}
