<mat-tab-group class="tabs" color="accent" mat-align-tabs="start" mat-stretch-tabs="false">
  <mat-tab label="Introduction" i18n-label="@@demo/demo/introduction">
    <div class="tab-content">
      <p i18n="@@demo/demo/intro-line-1">This is the demo page for the Angular Bootstrap application.</p>
      <p i18n="@@demo/demo/intro-line-2">
        In the tabs, you can check how the embedded features are working. Check the code for reference implementation.
      </p>
      <p i18n="@@demo/demo/intro-line-3">
        To remove this page, simply delete /app/feature/demo folder completely and remove the DEMO_ROUTES reference from
        app-routing.module.ts.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="State management (NGRX)">
    <div class="tab-content">
      <p>
        <button color="accent" mat-flat-button (click)="updateState()">Now</button>
        {{ date$ | async }}
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Material">
    <div class="tab-content">
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <button mat-button class="primary">Primary</button>
          <button mat-button class="secondary">Secondary</button>
          <button mat-button class="tertiary">Tertiary</button>
          <button mat-button class="error">Error</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://cv.co.hu/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button class="primary">Primary</button>
          <button mat-raised-button class="secondary">Secondary</button>
          <button mat-raised-button class="tertiary">Tertiary</button>
          <button mat-raised-button class="error">Error</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://cv.co.hu/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
          <button mat-stroked-button class="primary">Primary</button>
          <button mat-stroked-button class="secondary">Secondary</button>
          <button mat-stroked-button class="tertiary">Tertiary</button>
          <button mat-stroked-button class="error">Error</button>
          <button mat-stroked-button disabled>Disabled</button>
          <a mat-stroked-button href="https://cv.co.hu/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <button mat-flat-button class="primary">Primary</button>
          <button mat-flat-button class="secondary">Secondary</button>
          <button mat-flat-button class="tertiary">Tertiary</button>
          <button mat-flat-button class="error">Error</button>
          <button mat-flat-button disabled>Disabled</button>
          <a mat-flat-button href="https://cv.co.hu/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <button mat-icon-button class="primary" aria-label="Example icon button with a vertical three dot icon"><mat-icon>more_vert</mat-icon></button>
            <button mat-icon-button class="secondary" aria-label="Example icon button with a vertical three dot icon"><mat-icon>more_vert</mat-icon></button>
            <button mat-icon-button class="tertiary" aria-label="Example icon button with a vertical three dot icon"><mat-icon>more_vert</mat-icon></button>
            <button mat-icon-button class="error" aria-label="Example icon button with a vertical three dot icon"><mat-icon>more_vert</mat-icon></button>
            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon"><mat-icon>open_in_new</mat-icon></button>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab class="primary" aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon></button>
              <button mat-fab class="secondary" aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon></button>
              <button mat-fab class="tertiary" aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon></button>
              <button mat-fab class="error" aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon></button>
            </div>
            <div class="example-button-container">
              <button mat-fab disabled aria-label="Example icon button with a heart icon"><mat-icon>favorite</mat-icon></button>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Mini FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab class="primary" aria-label="Example icon button with a menu icon"><mat-icon>menu</mat-icon></button>
              <button mat-mini-fab class="secondary" aria-label="Example icon button with a menu icon"><mat-icon>menu</mat-icon></button>
              <button mat-mini-fab class="tertiary" aria-label="Example icon button with a menu icon"><mat-icon>menu</mat-icon></button>
              <button mat-mini-fab class="error" aria-label="Example icon button with a menu icon"><mat-icon>menu</mat-icon></button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab disabled aria-label="Example icon button with a home icon"><mat-icon>home</mat-icon></button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="example-label">Extended Fab</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab extended class="primary"><mat-icon>favorite</mat-icon>Basic</button>
              <button mat-fab extended class="secondary"><mat-icon>favorite</mat-icon>Basic</button>
              <button mat-fab extended class="tertiary"><mat-icon>favorite</mat-icon>Basic</button>
              <button mat-fab extended class="error"><mat-icon>favorite</mat-icon>Basic</button>
            </div>
            <div class="example-button-container">
              <button mat-fab extended disabled><mat-icon>favorite</mat-icon>Disabled</button>
            </div>
            <div class="example-button-container">
              <a mat-fab extended routerLink="." class="primary"><mat-icon>favorite</mat-icon>Link</a>
              <a mat-fab extended routerLink="." class="secondary"><mat-icon>favorite</mat-icon>Link</a>
              <a mat-fab extended routerLink="." class="tertiary"><mat-icon>favorite</mat-icon>Link</a>
              <a mat-fab extended routerLink="." class="error"><mat-icon>favorite</mat-icon>Link</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </mat-tab>
  <mat-tab label="Api caller & reactive config">
    <div class="tab-content">
      <button color="primary" mat-flat-button (click)="fetchApi()">Fetch API</button>

      <table mat-table [dataSource]="data$">
        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell>ID</th>
          <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell>Name</th>
          <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell>Username</th>
          <td *matCellDef="let element" mat-cell>{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell>E-mail</th>
          <td *matCellDef="let element" mat-cell>{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th *matHeaderCellDef mat-header-cell>Address</th>
          <td *matCellDef="let element" mat-cell>{{ element.address.city }}, {{ element.address.street }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th *matHeaderCellDef mat-header-cell>Phone</th>
          <td *matCellDef="let element" mat-cell>{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="website">
          <th *matHeaderCellDef mat-header-cell>Website</th>
          <td *matCellDef="let element" mat-cell>{{ element.website }}</td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th *matHeaderCellDef mat-header-cell>Company</th>
          <td *matCellDef="let element" mat-cell>{{ element.company.name }}</td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Mixins">
    <div class="tab-content">
      <h1 class="smart-sized-title">smart-scale and mq test</h1>
      <p>(resize the window to see how these work)</p>
    </div>
  </mat-tab>
  <mat-tab label="Runtime localizer">
    <div class="tab-content">
      <button color="primary" mat-flat-button (click)="switchLang('hu-HU')">Switch to Hungarian (hu-HU)</button>
      <button mat-flat-button (click)="switchLang('en-US')">Switch to English (en-US)</button>
      <p i18n="@@deliberately-missing-token">
        This is a deliberately missing languge token, check dev console to observe what you can expect when a token is missing (e.g. typo,
        forget, etc).
      </p>
      <p>{{ codeLangToken }}</p>
    </div>
  </mat-tab>
</mat-tab-group>
